<header>
    <h1>Skills</h1>
</header>

<main>
    <div class="container">
        <div class="skills-info">
            <div class="skill-item">
                <div class="skill-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" alt="skill1">
                </div>
                <div class="skill-det">
                    <p>Python</p>
                </div>
            </div>

            <div class="skill-item">
                <div class="skill-img">
                    <img src="https://chuidiang.org/images/9/9a/JAVA.png" alt="skill2">
                </div>
                <div class="skill-det">
                    <p>Java</p>
                </div>
            </div>

            <div class="skill-item">
                <div class="skill-img">
                    <img src="https://www.freepnglogos.com/uploads/javascript-png/javascript-logo-transparent-logo-javascript-images-3.png" alt="skill3">
                </div>
                <div class="skill-det">
                    <p>JavaScript</p>
                </div>
            </div>

            <div class="skill-item">
                <div class="skill-img">
                    <img src="https://www.alura.com.br/artigos/assets/html-css-js/imagem-1.png" alt="skill4">
                </div>
                <div class="skill-det">
                    <p>HTML</p>
                </div>
            </div>

            <div class="skill-item">
                <div class="skill-img">
                    <img src="https://cdn-icons-png.flaticon.com/512/888/888847.png" alt="skill5">
                </div>
                <div class="skill-det">
                    <p>CSS</p>
                </div>
            </div>

            <div class="skill-item">
                <div class="skill-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="skill6">
                </div>
                <div class="skill-det">
                    <p>Node</p>
                </div>
            </div>

            <div class="skill-item">
                <div class="skill-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/1200px-C_Programming_Language.svg.png" alt="skill7">
                </div>
                <div class="skill-det">
                    <p>C</p>
                </div>
            </div>

            <div class="skill-item">
                <div class="skill-img">
                    <img src="https://storage.googleapis.com/cms-storage-bucket/0dbfcc7a59cd1cf16282.png" alt="skill8">
                </div>
                <div class="skill-det">
                    <p>Flutter / Dart</p>
                </div>
            </div>
        </div>
    </div>
</main>
