<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animes</title>
  <link rel="stylesheet" href="/assets/dist/css/estilos.css">
</head>

<body>
  <header class="titulo">
    <nav>
      <a href="/?password=12343564">Inicio</a>
      <a href="/toby?password=12343564">Fotos de mi perrito</a>
      <a href="/animes?password=12343564">Animes Favoritos</a>
      <a href="/estudios?password=12343564">Estudios</a>
    </nav>
    Animes Favoritos
  </header>

  <main>
    <div class="container">
      <div>
        <p>Bocchi the Rock</p>
        <img src="/assets/imgs/bocchi.jpg" alt="Bocchi the Rock">
      </div>
      <div>
        <p>Ranking of Kings</p>
        <img src="/assets/imgs/ousama.jpg" alt="Ranking of Kings">
      </div>
      <div>
        <p>My Hero Academia</p>
        <img src="/assets/imgs/boku.jpg" alt="My Hero Academia">
      </div>
      <div>
        <p>Fullmetal Alchemist</p>
        <img src="/assets/imgs/fullmetal.jpg" alt="Fullmetal Alchemist Brotherhood">
      </div>
      <div>
        <p>One Piece</p>
        <img src="/assets/imgs/one.jpg" alt="One Piece">
      </div>
      <div>
        <p>Kill la Kill</p>
        <img src="/assets/imgs/killlakill.jpg" alt="Kill la Kill">
      </div>
      <div>
        <p>Kaguya Sama</p>
        <img src="/assets/imgs/kaguya.jpg" alt="Kaguya Sama Love is War">
      </div>
      <div>
        <p>Haikyuu</p>
        <img src="/assets/imgs/haikyuu.jpg" alt="Haikyuu">
      </div>
    </div>

  </main>

  <footer class="contacto">

  </footer>
</body>

</html>