<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Auth</title>
  <link rel="stylesheet" href="/assets/dist/css/estilos.css">
</head>

<body>
  <header class="titulo">
    Usuario no autenficado
  </header>

  <main>
    <center> <img src="/assets/imgs/no.gif" alt="not_auth" , style="width: 500px; height: 500px; margin-top: 15px;">
    </center>


  </main>

  <footer class="contacto">
    <p>Inserta la contraseña correcta</p>
  </footer>
</body>

</html>