<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estudios</title>
  <link rel="stylesheet" href="/assets/dist/css/estilos.css">
</head>

<body>
  <header class="titulo">
    <nav>
      <a href="/?password=12343564">Inicio</a>
      <a href="/toby?password=12343564">Fotos de mi perrito</a>
      <a href="/animes?password=12343564">Animes Favoritos</a>
      <a href="/estudios?password=12343564">Estudios</a>

    </nav>

    Estudios
  </header>

  <main>
    <div class="container">
      <div>
        <p>Primaria</p>
        <img src="/assets/imgs/oxford.jpg" alt="Oxford">
      </div>
      <div>
        <p>Secundaria</p>
        <img src="/assets/imgs/oxford.jpg" alt="Oxford">
      </div>
      <div>
        <p>Preparatoria</p>
        <img src="/assets/imgs/gari.jpg" alt="Garibaldi">
      </div>
      <div>
        <p>Universidad</p>
        <img src="/assets/imgs/iteso.jpg" alt="iteso">
      </div>
    </div>

  </main>

  <footer class="contacto">

  </footer>
</body>

</html>