<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Auth</title>
  <link rel="stylesheet" href="/assets/dist/css/estilos.css">
</head>

<body>
  <header class="titulo">
    Ruta no encontrada
  </header>

  <main>
    <center> <img src="/assets/imgs/duck.gif" alt="not_found" , style="width: 500px; height: 500px; margin-top: 15px;">
    </center>


  </main>

  <footer class="contacto">
    <p>Prueba con alguna de estas</p>
    <nav>
      <a href="/?password=12343564">Inicio</a>
      <a href="/toby?password=12343564">Fotos de mi perrito</a>
      <a href="/animes?password=12343564">Animes Favoritos</a>
      <a href="/estudios?password=12343564">Estudios</a>
    </nav>
  </footer>
</body>

</html>