<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presentacion</title>
  <link rel="stylesheet" href="/assets/dist/css/estilos.css">
</head>

<body>
  <header class="titulo">
    <nav>
      <a href="/?password=12343564">Inicio</a>
      <a href="/toby?password=12343564">Fotos de mi perrito</a>
      <a href="/animes?password=12343564">Animes Favoritos</a>
      <a href="/estudios?password=12343564">Estudios</a>
    </nav>

    Pagina de presentacion
  </header>

  <main>
    <div class="container">
      <div>
        <p>Nombre</p>
        <p>David Emmanuel Fernández Albarrán</p>
      </div>
      <div>
        <p>Carrera</p>
        <p>Ingeniría en Sistemas Computacionales</p>
      </div>
      <div>
        <p>Semestre</p>
        <p>Octavo Semestre</p>
      </div>
      <div>
        <ul class="hobbies">Hobbies
          <li>Voleibol</li>
          <li>Videojuegos</li>
          <li>Dibujar</li>
        </ul>
      </div>
      <div>
        <p>Juego Favorito</p>
        <img src="/assets/imgs/juego.jpg" alt="Enter the Gungeon">
      </div>
      <div>
        <p>Mascota</p>
        <img src="/assets/imgs/toby.jpg" alt="Toby">
      </div>
      <div>
        <p>Pelicula</p>
        <img src="/assets/imgs/pelicula.jpg" alt="Your Name">
      </div>
      <div>
        <p>Musica</p><img src="/assets/imgs/imagine.jpg" alt="Imagine Dragons">
      </div>
    </div>

  </main>

  <footer class="contacto">

  </footer>
</body>

</html>