<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toby</title>
  <link rel="stylesheet" href="/assets/dist/css/estilos.css">
</head>

<body>
  <header class="titulo">
    <nav>
      <a href="/?password=12343564">Inicio</a>
      <a href="/toby?password=12343564">Fotos de mi perrito</a>
      <a href="/animes?password=12343564">Animes Favoritos</a>
      <a href="/estudios?password=12343564">Estudios</a>
    </nav>

    Fotos de mi perrito
  </header>

  <main>
    <div class="container">
      <div>
        <p>Nombre</p>
        <p>Toby</p>
      </div>
      <div>
        <br>
        <br>
        <img src="/assets/imgs/toby1.jpg" alt="Toby">
      </div>
      <div>
        <br>
        <br>
        <img src="/assets/imgs/toby2.jpg" alt="Toby">
      </div>
      <div>
        <br>
        <br>
        <img src="/assets/imgs/toby3.jpg" alt="Toby">
      </div>
      <div>
        <br>
        <br>
        <img src="/assets/imgs/toby4.jpg" alt="Toby">
      </div>
      <div>
        <br>
        <br>
        <img src="/assets/imgs/toby5.jpg" alt="Toby">
      </div>
      <div>
        <br>
        <br>
        <img src="/assets/imgs/toby6.jpg" alt="Toby">
      </div>
      <div>
        <br>
        <br>
        <img src="/assets/imgs/toby7.jpg" alt="Toby">
      </div>
    </div>

  </main>

  <footer class="contacto">

  </footer>
</body>

</html>