<header>
    <h1>Educación</h1>
</header>

<main>
    <div class="container">
        <div class="ed_info">
            <div class="ed_item">
                <div class="ed-img">
                    <img src="assets/iteso.png" alt="iteso">
        
                </div>
                <div class="ed-det">
                    <h2>Universidad</h2>
                    <p>Instituto Tecnológico y de Estudios Superiores de Occidente</p>
                    <p>Ingeniería en Sistemas Computacionales</p>
                    <p>Ingreso: Otoño 2019</p>
                    <p>Graduación: Primavera 2024</p>
                    <p>GPA: 9.61 / 10</p>
                </div>
            </div>

            <div class="ed_item">
                <div class="ed-img">
                    <img src="assets/gari.png" alt="iteso">
        
                </div>
                <div class="ed-det">
                    <h2>Preparatoria</h2>
                    <p>Colegio Salesiano Anáhuac Garibaldi</p>
                    <p>Ingreso: Otoño 2016</p>
                    <p>Graduación: Primavera 2019</p>
                    
                </div>
            </div>

        </div>
        
    </div>
</main>

