<header>
    <h1>Contacto</h1>
</header>

<main>
    <div class="container">
        <table>
            <tr>
                <th>Teléfono</th>
                <td>+52 3331047345</td>
            </tr>
    
            <tr>
                <th>Correo</th>
                <td>david_emmi@hotmail.com</td>
            </tr>
    
            <tr>
                <th>Redes Sociales</th>
                <td>
                    <ul>
                        <li>
                            <a href="https://github.com/david12343564" target="_blank">Github</a>
                        </li>
    
                        <li>
                            <a href="https://www.linkedin.com/in/david-emmanuel-fern%C3%A1ndez-albarr%C3%A1n-a19516232/" target="_blank">Linkedin</a>
                        </li>
    
                    </ul>
            </td>
            </tr>
        </table>
    </div>
    
</main>