<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noticias</title>
    <link rel="stylesheet" href="../assets/dist/css/styles.css" />
  </head>
  <body>
    <header><center>
        <form action="/search" , method="get">
          <input
            type="text"
            placeholder="Ingresa el nombre de la noticia"
            name="input"
            id="input"
          />
          <button type="submit">Buscar</button>
        </form></center></header>

    <main>
      <center>{{{body}}}</center>

    </main>

  </body>
</html>