<header>
    <h1>Proyectos</h1>
</header>

<main>
    <div class="container">
        <div class="proy-inf">
            <div class="proy-item">
                <div class="proy-img">
                    <img src="assets/recipes.png" alt="proyecto1">
                </div>

                <div class="proy-det">
                    <h2>Recetario | Aplicación Web</h2>
                    <p>Página web donde se pueden crear, actualizar, borrar y buscar recetas por su nombre</p>
                    <p> <strong>Tecnologías:</strong> JavaScrip, Node, HTML, CSS</p>
                </div>
            </div>

            <div class="proy-item">
                <div class="proy-img">
                    <img src="assets/insta.png" alt="proyecto2">
                </div>

                <div class="proy-det">
                    <h2>Aplicación Movil | Itesogram</h2>
                    <p>Aplicación movil inspirada en Instagram para publicar anuncios de la universidad</p>
                    <p> <strong>Tecnologías:</strong> Flutter, Dart, Firestore</p>
                </div>
            </div>

            <div class="proy-item">
                <div class="proy-img">
                    <img src="assets/bi.png" alt="proyecto3">
                </div>

                <div class="proy-det">
                    <h2>Solución BI | Negocio de pinturas</h2>
                    <p>Solución BI para un negocio de pinturas, abarca área de ventas y compras</p>
                    <p> <strong>Tecnologías:</strong> SQL server, Neo4j, Power BI, </p>
                </div>
            </div>
        </div>
    </div>
</main>