header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main{
    min-height: 100vh;
    background-color: #f7f7f7;
    
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    
    
}

.proy-inf{
    display: flex;
    flex-wrap:wrap;
}

.proy-item{
    flex: 1 1 33.33%;
    margin-bottom: 10px;
    text-align: center;
}

.proy-img{
    margin-bottom: 10px;
    
}

img{
    width: 35%;
    padding: 5px;
    height: auto;
    border: 3px solid #333;
}

.proy-det p{
    font-weight:500;
}


