<header>
    <h1>Inicio</h1>
</header>

<main>
    <div class="container"> 
        <div class="informacion">
            <div class="image">
                <img src="assets/yo.jpg" alt="Imagen David">
            </div>
            <div class="detalles">
                <h2>Algo sobre mi</h2>
                <p>David Emmanuel Fernández Albarrán</p>
                <p>Estudiante de Ingeniería en Sistemas Computacionales</p>
                <p>Soy David y tengo 22 años. <br>
                   Me gusta mucho aprender cosas nuevas, ayudar a los demás y trabajar en equipo. <br>
                   Mis hobbies son jugar videojuegos, dibujar, escuchar música y aprender nuevas cosas. <br>
                </p>

            </div>
        </div>
    </div> 
</main>



